<%= form_with(model: seller_order, local: true) do |form| %>
  <% if seller_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seller_order.errors.count, "error") %> prohibited this seller_order from being saved:</h2>

      <ul>
      <% seller_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :seller_id %>
    <%= form.text_field :seller_id, id: :seller_order_seller_id %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.number_field :product_id, id: :seller_order_product_id %>
  </div>

  <div class="field">
    <%= form.label :qunatity %>
    <%= form.number_field :qunatity, id: :seller_order_qunatity %>
  </div>

  <div class="field">
    <%= form.label :seller_price_per_unit %>
    <%= form.text_field :seller_price_per_unit, id: :seller_order_seller_price_per_unit %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
