<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_order.user %>
</p>

<p>
  <strong>Product:</strong>
  <%= @user_order.product_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @user_order.quantity %>
</p>

<p>
  <strong>User price per unit:</strong>
  <%= @user_order.user_price_per_unit %>
</p>

<%= link_to 'Edit', edit_user_order_path(@user_order) %> |
<%= link_to 'Back', user_orders_path %>
