<p id="notice"><%= notice %></p>
<aside>
  <nav>
    <%if SellerProfile.where(seller_id: current_seller.id).first %>
    <ul>
      <li><img src="/logo.png"/></li>
      <li id="myBooks">
        <%= link_to books_path do%>
          <i class="fa fa-book" aria-hidden="true"></i><br />
 my books
<%end%></li>
      <li id="sellerProfile">
         <%= link_to  seller_profile_path(id: SellerProfile.where(seller_id:current_seller.id).first.id) do%>
 <i class="fa fa-user" aria-hidden="true"></i><br />
your seller profile
<%end%></li>
      <li>
         <%=link_to destroy_seller_session_path, method: :delete do%>
<i class="fa fa-sign-out" aria-hidden="true"></i><br />
signout
<%end%></li>
      <li>
        <%= link_to edit_seller_profile_path(@seller_profile) do%>
<i class="fa fa-pencil" aria-hidden="true"></i><br />
Edit my profile
<%end%> </li>
      <li>
        <%= link_to url_for(controller: :home, action: :seller) do%>
<i class="fa fa-arrow-left" aria-hidden="true"></i><br />
Back to index
<%end%></li>
    </ul>
  </nav>
  <%end%>
</aside>

<main>

<p>
  <strong>Name:</strong>
  <%= @seller_profile.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @seller_profile.address %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @seller_profile.credit %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @seller_profile.debit %>
</p>
</main>
