<div id="seller">
<aside>
  <nav>
    <%if SellerProfile.where(seller_id: current_seller.id).first %>
    <ul>
      <li><img src="/logo.png"/></li>
      <li>
        <%= link_to books_path do%>
<i class="fa fa-book" aria-hidden="true"></i><br />
My books
<%end%></li>
      <li>
         <%= link_to seller_profile_path(id: SellerProfile.where(seller_id:current_seller.id).first.id) do%>
<i class="fa fa-user" aria-hidden="true"></i><br />
your seller profile
         <%end%></li>
         <li id="black">
           <%= link_to seller_path do%>
           <i class="fa fa-plus" aria-hidden="true"></i><br />
Add a Book
           <%end%></li>
      <li>
         <%=link_to destroy_seller_session_path, method: :delete do%>
 <i class="fa fa-sign-out" aria-hidden="true"></i><br />
signout
         <%end%></li>
    </ul>
  </nav>
  <%end%>
</aside>

<main>
  <%if SellerProfile.where(seller_id: current_seller.id).first %>
  <h1>Welcome Seller</h1>
<h3>Enter details of your book</h3>
<hr />
<div id="bookform">
  <%= render 'books/form', book: @book %>
</div>
  <%else%>
  <p>you need to create a profile before you can sell books with us</p>
  <p>follow the link below to get started</p>
  <%= link_to "make a seller profile", new_seller_profile_path(seller_id: current_seller.id)%>
  <%end%>
</main>
</div>
