<div class="books">
<p id="notice"><%= notice %></p>
<aside>
  <nav>
    <%if SellerProfile.where(seller_id: current_seller.id).first %>
    <ul>
      <li><img src="/logo.png"/></li>
      <li id="myBooks">
        <%= link_to  books_path do%>
<i class="fa fa-book" aria-hidden="true"></i><br />
my books
      <%end%></li>
      <li>
         <%= link_to  seller_profile_path(id: SellerProfile.where(seller_id:current_seller.id).first.id) do%>
<i class="fa fa-user" aria-hidden="true"></i><br />
your seller profile
         <%end%></li>
      <li>
         <%=link_to destroy_seller_session_path, method: :delete do%>
<i class="fa fa-sign-out" aria-hidden="true"></i><br />
signout
        <%end%></li>
         <li>
           <%= link_to seller_path do%>
           <i class="fa fa-plus" aria-hidden="true"></i><br />
Add a Book
           <%end%></li>
      <li>
        <%= link_to url_for(controller: :home, action: :seller) do%>
<i class="fa fa-arrow-left" aria-hidden="true"></i><br />
back to index
<%end%></li>
    </ul>
  </nav>
  <%end%>
</aside>
<main>

<h1>Books</h1>

<table style="color: black;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Seller price</th>
     <!--  <th>User price</th> -->
      <th>Qunatity in stock</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
  <%if book.seller_id==current_seller.id%>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.seller_price %></td>
    <!--     <td><%= book.user_price %></td> -->

        <td><%= book.qunatity_in_stock %></td>
        <td><%= link_to 'Edit book details', edit_book_path(book) %></td>
        <td><%= link_to 'Remove book from stock', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <%end%>
  </tbody>
</table>

<br>

</main>

</div>
